.carousel-item img{
    margin:auto;
    object-fit: cover;
    height:700px; 
    object-position: top;
}
.carousel{
    margin: 40px auto;
}

.op-top{
    object-position: top;
}
.op-bottom{
    object-position: bottom;
}