@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.carousel-item img{
    margin:auto;
    object-fit: cover;
    max-height:700px; 
    min-height:500px;
    border-radius: 5%;
    display:flex;
    width: auto;
}
img{
    width:fluid;
}

.carousel{
    margin: 40px auto;
}

.op-top{
    object-position: top;
}
.op-bottom{
    object-position: bottom;
}
.text{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
}
.title{
    /*text-shadow: 1px 1px #000000;*/
    color: #494949;
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}
.carousel-control-prev-icon{
    filter: drop-shadow(2px 2px black)
}
.carousel-control-next-icon{
    filter: drop-shadow(2px 2px black);
}