h1{
    color: aliceblue;
    text-align: center;
    font-weight: 200;
    text-shadow: 2px 1px #000000;
    margin-top: 150px;
    font-size:70px;
    font-family: 'Playfair Display', serif;
}
h3{
    color: aliceblue;
    text-shadow: 2px 1px #000000;
    text-align: right;
    padding-top: 30px;
    padding-right: 20px;
    margin-top:0px;
    font-family: 'Playfair Display', serif;
}
header{
    background-image: url("default-bg-teal.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 500px;
    /*border-radius: 25px;*/
}

nav{
    font-size: 30px;
    text-align: center;
    font-family: 'Playfair Display', serif;
}
.navbar-nav > a:link:active,
.navbar-nav > a:visited:active,
.navbar-nav > a:hover {
    color: #b8b7b7;
    text-decoration: underline;
  }
.navbar-nav > a{
    text-decoration: none;
    color: aliceblue;
    text-shadow: 2px 1px #000000;
    padding-left: 50px;
    
}
.nav-link.active{
    color: #b8b7b7;
    text-decoration: underline;

}